{% extends 'base.html' %}

{% block content %}
      {% for message in messages %}
      <div class="row">
        {% if message.author %}
          <b>{{ message.author }}</b> wrote:
        {% else %}
          An anonymous person wrote:
        {% endif %}
        <blockquote>{{ message.content }}</blockquote>
      </div>
      {% endfor %}

      <form action="/new?" method="post">
        <div><textarea name="content" class="input-block-level" rows="3" placeholder="Your message here..."></textarea></div>
        <div class="form-row pull-right">
	  <input type="text" name="author" placeholder="Name">
          <input type="submit" class="btn btn-large btn-primary" value="Post Message">
	</div>
      </form>

      <hr>
{% endblock content %}
